@model System.Collections.Generic.List<QuizifyWeb.Models.Quiz>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid row" style="margin-top: 50px;">


    <p>
        @Html.ActionLink("+ Create New", "Create", null, new {@class = "btn btn-success"})
    </p>


    @if (Model != null && Model.ToList().Count > 0)
    {
        <table class="col-lg-12 col-md-12 col-sm-12 table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Moderator</th>
                <th>Category</th>
                <th>Location</th>
            </tr>


            @foreach (var quiz in Model)
            {
                <tr>
                    <td> @quiz.Name </td>
                </tr>

                <tr>
                    <td> @quiz.Moderator.Name </td>
                </tr>


                <tr>
                    <td> @quiz.QuizCategory.Name </td>
                </tr>

                <tr>
                    <td> @quiz.Location.City </td>
                </tr>
            }

        </table>
    }
    else
    {
        <h2>You have no quizzes :/ :(</h2>
    }
</div>