@using Microsoft.AspNet.Identity
@using QuizifyWeb.Models
@model QuizifyWeb.Models.Team

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ApplicationDbContext.Create().Users.Find(User.Identity.GetUserId());
}

@Html.AntiForgeryToken()
<div class="container">
    <div class="form-horizontal">
        <br>
        <h4 style="margin-top:50px;">Add new team</h4>
        <p>
            You can add new team by entering team name in field "Enter team name", 
            if you want to add members <br /> you can do it by entering members email in field "Enter member email" and 
            that member will be added to team that you are creating.
        </p>
        <hr />
        


        <div class="form-group" style="margin-left:-120px;">
            <label class="control-label col-md-2">Team name:</label>
            <input class="input text-box single-line" id="TeamName" name="TeamName" type="text" placeholder="Enter team name..." value="">
        </div>
        <div class="col-md-12" style="margin-left:-15px;">
            <button id="btn-create" class="btn btn-success">Create team</button>
        </div>
        <br />
        <hr />

        <div class="form-group" style="margin-left:-100px;">
            <label class="control-label col-md-2">Member email:</label>
            <input class="input text-box single-line" id="MemberEmail" name="MemberEmail" type="text" placeholder="Enter member email..." value="">
        </div>

        <div class="col-md-10" style="margin-left:-15px;">
            <button id="btn-add-member" class="btn btn-success">Add member</button>
        </div>
        <br />
        <br />
     

        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>

            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Email
                </td>
            </tr>

        </table>
    </div>

    <script>
        var userId = "@(User.Identity.GetUserId())";
    </script>


    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/TeamsCreate.js")
}