@model QuizifyWeb.Models.Team

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container">
    <br />
            <div class="form-horizontal">
            <h4>Edit team name</h4>
            <p>
                Edit team name by entering new name in input field.
            </p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 " })
                
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input text-box single-line", @style = "background:#FFF;" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                
            </div>
            <hr />
            <div class="form-group">
                <div class=" col-md-10">
                    <input type="submit" value="Save changes" class="btn btn-success" />
                
                
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
